@import '~bootstrap/scss/bootstrap';

header {
    #search {
        border: none;
        border-bottom: 3px solid #0082F9;
        text-align: end;
    }

    li a {
        color: gray;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: #0082F9;
        }
    }

    .header-top {
        background-color: #0082F9;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 12px;
        }
    }
}

.jumbo {
    background-image: url(/resources/img/jumbotron.jpg);
    background-position-x: center;
    position: relative;
    height: 425px;

    h5 {
        font-weight: bold;
        font-size: 25px;
        color: white;
        background-color: #0082F9;
        padding: 10px 40px;
        width: fit-content;
        position: absolute;
        bottom: -30px;
        left: 100px;
    }
}

.comics {
    background-color: #1C1C1C;

    .series {

        h5 {
            color: white;
            margin-top: 10px;
        }

        img {
            width: 180px;
            height: 180px;
        }
    }

    button {
        padding: 5px 60px;
        font-weight: bold;
        border-radius: 0;
    }
}